#content {
	position: absolute;
	left: -700px;
	width:35%;
	text-align:justify;
	color: white;
	margin-left: 10px;
}

@font-face {
  font-family: ac;
  src: url(fonts/Assassin$.ttf);
}

.content-all {
	font-family: ac;
	font-size: 120%;
	margin: 5px;
}

#content2 {
	position: absolute;
	top: -400px;
	right: 10px;
	width:25%;
	text-align:justify;
	color: white;
	margin-right: 10px;
}

h1 {
	font-size: 300%
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}