.content-right {
	font-size: 120%;
	color: white;
	position: absolute;
	top: 120px;
	right: 10px;
}

.izbor {
	background-color: rgb(255, 0, 0, 0.5);
	color: white;
	text-align: center;
	margin-left: 5px;
	width: 150px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: inline-block;
}

.container {
	position: absolute;
	left: 28%;
	top: 32%;
	width: 800px;
	height: 450px;
	background-color: rgb(240,240,240, 0.5);
	overflow: hidden;
}

.dugmad {
	position: absolute;
	right: 0%;
	top: 40%;
	width: 35px;
	height: 70px;
	background-color: rgb(255,255,255, 0.5);
}

.dugmad2 {
	position: absolute;
	right: 45%;
	bottom: 0%;
	width: 70px;
	height: 35px;
	background-color: rgb(255,255,255, 0.5);

}

.jedno {
	width: 25px;
	height: 25px;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	outline: none;
	border: none;
	cursor: pointer;
	margin: 5px;
}

#fact {
	background-color: rgba(255, 0, 0, 0.7);
	position: absolute;
	left: -180px;
	bottom: 5%;
	width: 160px;
	height: 36px;
	padding: 5px;
	border: 5px solid black;
	border-radius: 10px;
}